// =============================================================================

// =VARIABLES

// =============================================================================




// Colors -----------------------------------

$white:          #fff    !default;
$black:          #000    !default;
$gray:           #999    !default;

// Z-Index Scale ----------------------------

$zIndex-1:       100;
$zIndex-2:       200;
$zIndex-3:       300;
$zIndex-4:       400;
$zIndex-5:       500;

// Typography -------------------------------

$font-xs:        12px;
$font-sm:        14px;
$font-reg:       16px;
$font-md:        18px;
$font-lg:        20px;
$font-xl:        24px;

// Paths ------------------------------------

$images:         '../img';

// Usage:
// background: url(#{$images}/saucer.png);

// Fonts ------------------------------------

$font-reg:        'Open Sans';