// =============================================================================
//
//    Site Name
//    Website: https://
//    Author: 
//    Date Created: 
//
//    CONTENTS:
//
//    =IMPORTS
//      =NORMALIZE - reset
//      =FONTS
//      =VARIABLES
//      =MIXINS - breakpoints
//      =GRID - flexbox grid system
//      =UTILITIES/HELPERS
//      =BASE
//
//    =LAYOUT
//    =MODULES
//
// =============================================================================




// =============================================================================
// =IMPORTS
// =============================================================================

@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'helpers';
@import 'base';




// =============================================================================
// =LAYOUT
// =============================================================================

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

// Header -----------------------------------


// Footer -----------------------------------





// =============================================================================
// =MODULES
// =============================================================================





