
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="l-header">
            <header>
                <div class="branding">
                    <a href="#" class="logo"><img src="img/logo.svg" alt=""></a>
                </div>
                <div class="nav-main">
                    <div class="container">
                        <ul class="nav-main-list">
                            <li><a href="#home" class="home">Home</a></li>
                            <li><a href="#about" class="about">About</a></li>
                        </ul>
                    </div>
                </div>
            </header>
        </div><!-- .header -->
